<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuunik.selection.manager.mapper.SysUserMapper">
    <!-- 映射用户至sysUserMap  -->
    <resultMap id="sysUserMap" type="com.yuunik.selection.model.entity.system.SysUser" autoMapping="true" />

    <!-- 用于 select 查询公用抽取的列 -->
    <sql id="columns">
        id,
        username userName,
        password,
        name,
        phone,
        avatar,
        description,
        status,
        create_time,
        update_time,
        is_deleted
    </sql>

    <!-- 封装动态 sql -->
    <sql id="findPageWhere">
        <where>
            <if test="keyword != null and keyword != ''">
                and username like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                and create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and create_time &lt;= #{createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
    </sql>

    <!-- 根据用户名查询用户信息 -->
    <select id="selectUserInfoByUserName" resultType="com.yuunik.selection.model.entity.system.SysUser">
        select
            <include refid="columns" />
        from
            sys_user
        where
            username = #{username}
        and
            is_deleted = 0
    </select>

    <!-- 分页查询用户信息 -->
    <select id="pageUserList" resultMap="sysUserMap">
        select
            <include refid="columns"></include>
        from
            sys_user
        <include refid="findPageWhere"></include>
        order by id desc
    </select>

    <!-- 新增用户信息 -->
    <insert id="insertUser" parameterType="com.yuunik.selection.model.entity.system.SysUser">
        insert into sys_user (
              id,
              userName,
              password,
              name,
              phone,
              avatar,
              description,
              status
        ) values (
              #{id},
              #{userName},
              #{password},
              #{name},
              #{phone},
              #{avatar},
              #{description},
              #{status}
        )
    </insert>

    <!-- 删除用户信息 -->
    <update id="deleteUser">
        update
            sys_user
        set
            is_deleted = 1
        where
            id = #{id}
    </update>

    <!-- 编辑用户信息 -->
    <update id="updateUser" parameterType="com.yuunik.selection.model.entity.system.SysUser">
        update
            sys_user
        <set>

            <if test="userName != null and userName != ''">
                username = #{userName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        where
            id = #{id}
    </update>
</mapper>